table{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid cornflowerblue;
    font-size: 0.9em;
    text-align: center;
}
th{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid powderblue;
    background-color: cadetblue;
    color: wheat;

    body { font-family: Arial; margin: 2em; }
button { margin-left: 0.5em; }

}
